/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
} */


/* body{
    background: red;
} */

/* body {
    --bs-success:yellow;
} */

a.active {
    color: var(--bs-success) !important;
}

.header .navbar-nav {
    gap: 10px;
}

.header .navbar-nav li {
    position: relative;
}

.header .navbar-nav li::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    left: 5px;
    margin: 0 auto;
    background: green;
    transition: all 0.5s;
}

.header .navbar-nav li:hover::after {
    width: 85%;
    transition: all 0.5s;
}



.carousel-demo {
    max-height: 800px;
}

.carousel-demo .carousel-item .img-carousel {
    height: 800px;

}

.carousel-demo .carousel-inner .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.carousel-demo .carousel-inner .carousel-caption {
    z-index: 2;
}

.header {
    z-index: 10;
}


.carousel-indicators .active {
    opacity: 1;
    background: green !important;
    width: 20px;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target] {
    background: gray;
    width: 20px;
    border-radius: 50%;
}

/*project*/
.projects .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--bs-success);
}


.projects .card:hover .card-body {
    border: 1px solid var(--bs-success) !important;
    transition: border 0.5s;
}


.projects .tab-pane .card {
    animation: display-zoom-item 1s;
}



@keyframes display-zoom-item {
    0% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}


.available {
    background: url(/img/3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 800px;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    min-height: 800px;
    /* backdrop-filter: blur(5px); */
}



.available .card {
    background: rgba(45, 45, 45, 0.5);
    backdrop-filter: blur(5px);
    transition: all 0.5s;
}

.available .card:hover {
    cursor: pointer;
    border: 1px solid #fff !important;
    transition: all 0.5s;
    background: #000;
}

.achievement {
    background: url(/img/memphis_3.png), url(/img/memphis_2.png);
    background-position: bottom left, top right;
    background-size: 500px auto, 500px auto;
    background-repeat: no-repeat, no-repeat;
    padding: 50px 0px;

}

.achievement .card {
    background-color: rgba(182, 182, 182, 0.1) !important;
    backdrop-filter: blur(5px);
}

.footer .fab {
    transition: all 0.5s;
}

.footer .fab:hover {
    border: 1px solid green !important;
    color: green;
    cursor: pointer;
    transition: all 0.5s;
}

.carousel-demo .carousel-caption .img-profile {
    animation: fadeUp 1s;
    opacity: 0;
    animation-fill-mode: both;
    /*giữ lại trạng thái css đích của keyframe*/
}

.carousel-demo .carousel-caption h5 {
    animation: fadeUp 1.5s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: both;

}

.carousel-demo .carousel-caption p {
    animation: fadeUp 1s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: both;


}


@keyframes fadeUp {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}



.text-active{
    color: red;
}